
body{
background-color:#ffa500ad;
}

p{
font size:18px;
font-family: verdana;
line-height: 200%;
}

h1{
font-family: Impact;
color: #ff0000;
}

h2{
font size: 12
}


h3{
font-family: Impact;
color: #ff0000;
}

img{
display:block
}

audio{
float:right;
}

div{
float: right;
}


